body {
    background-color: tan;

}

form {
    border: cornflowerblue solid 4px;
    padding: 25px;
    border-radius:25px;
    background-color: wheat;
    color: cornflowerblue;
    max-width: 400px;
    width: 100%;
    text-align: center;
    margin: auto;
    flex-direction: column;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
}

form * {
    margin: 5px;
    padding: 5px;
}
button {
    color: cornflowerblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(246, 216, 176);
    border: cornflowerblue solid 4px;
    background-size: auto;
    font-size: 75%;
    max-width: 100px;
    width: 100%;
    text-align: center;
    margin: auto;
}

input {
    background-color: rgb(246, 216, 176);
    border: cornflowerblue solid 4px;
    color: cornflowerblue;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serifs;
}