body {
    background-color: tan;

}

form {
    border: cornflowerblue solid 4px;
    padding: 25px;
    border-radius:25px;
    background-color: wheat;
    color: cornflowerblue;
    max-width: 400px;
    width: 100%;
    text-align: center;
    margin: auto;
    flex-direction: column;
    display: flex;
    font-family: sans-serif;
    font-size: x-large;
}

form * {
    margin: 5px;
    padding: 5px;
}
button {
    color: cornflowerblue;
    font-family: sans-serif;
    background-color: tan;
    border: cornflowerblue solid 4px;
    background-size: auto;
    font-size: large;
    max-width: 100px;
    width: 100%;
    text-align: center;
    margin: auto;
}
